<h2 class="ui center aligned icon header">
  <i class="edit outline icon"></i>
  Editing Dependent
</h2>

<%= render 'form', dependent: @dependent %>

<%= link_to 'Show', @dependent %> |
<%= link_to 'Back', dependents_path %>
