<h2 class="ui center aligned icon header">
  <i class="edit outline icon"></i>
  Editing Insurance Coverage
</h2>

<%= render 'form', insurance_coverage: @insurance_coverage %>

<%= link_to 'Show', @insurance_coverage %> |
<%= link_to 'Back', insurance_coverages_path %>
