<h2 class="ui center aligned icon header">
  <i class="plus square icon"></i>
  New Insurance Converage
</h2>

<%= render 'form', insurance_coverage: @insurance_coverage %>

<%= link_to 'Back', insurance_coverages_path %>
