<h2 class="ui center aligned icon header">
  <i class="edit outline icon"></i>
  Editing Patient
</h2>

<%= render 'form', patient: @patient %>

<%= link_to 'Show', @patient %> |
<%= link_to 'Back', patients_path %>
